.upButton {
    background-color: rgb(49, 216, 85);
}

.downButton {
    background-color: rgb(214, 62, 42);
}

.resetButton {
    background-color: rgb(252, 186, 4);
}

.editButton {
    background-color: #00F5D4;
}

.text {
    opacity: 0.75;
    background-color: rgb(232, 167, 245);
}

.likes {
    color: white;
    font-weight: 700;
}

.title {
    font-size: 30px;
    font-weight: 800;
    color: white;
}

.container {
    width: 500px;
    height: 450px;
}
